
-optimizationpasses 5
-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-dontskipnonpubliclibraryclassmembers
-dontpreverify
-verbose
-dump class_files.txt
-printseeds seeds.txt
-printusage unused.txt
-printmapping mapping.txt
-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*

-allowaccessmodification
-keepattributes *Annotation*
-keepattributes Signature
-renamesourcefileattribute SourceFile
-keepattributes SourceFile,LineNumberTable
-repackageclasses ''


-keep public class * extends android.app.Activity

-keep public class * extends android.support.v4.app.Fragment

-keep public class * extends android.app.Application

-keep public class * extends android.app.Service

-keep public class * extends android.content.BroadcastReceiver

-keep public class * extends android.content.ContentProvider

-keep public class * extends android.app.backup.BackupAgentHelper

-keep public class * extends android.preference.Preference

-keep public class com.android.vending.licensing.ILicensingService
-keepclassmembers class * implements java.io.Serializable {
    static final long serialVersionUID;
    private static final java.io.ObjectStreamField[] serialPersistentFields;
    private void writeObject(java.io.ObjectOutputStream);
    private void readObject(java.io.ObjectInputStream);
    java.lang.Object writeReplace();
    java.lang.Object readResolve();
}

-keep public class * implements java.io.Serializable {*;}
-keepclasseswithmembernames class * {

native <methods>; 

}

-keepclasseswithmembers class * {

public <init>(android.content.Context, android.util.AttributeSet);

}

-keepclasseswithmembers class * {

public <init>(android.content.Context, android.util.AttributeSet, int);

}

-keepclassmembers class * extends android.app.Activity {

public void *(android.view.View);

}

-keepclassmembers enum * {

public static **[] values();

public static ** valueOf(java.lang.String);

}

-keep class * implements android.os.Parcelable {

public static final android.os.Parcelable$Creator *;

}

-keep public class com.manyi.iagent.R$*{

public static final int *;

}

-keep class com.umeng.analytics.** { *;}
-dontwarn com.umeng.analytics.**

-keep class org.androidannotations.** { *;}
-dontwarn org.androidannotations.**

-keep class de.greenrobot.event.** { *;}
-dontwarn de.greenrobot.event.**

-keep class com.facebook.** { *;}
-dontwarn com.facebook.**

-keep class android.support.v4.** { *;}
-dontwarn android.support.v4.**

-keep class sun.misc.Unsafe.** { *; }

-dontwarn com.alibaba.fastjson.**
-keep class com.alibaba.fastjson.** { *; }

-keepclassmembers class ** {
    public void onEvent*(**);
}


##-----------------------本地不能被混淆的包 start----------------
-dontwarn com.qtt.jinrong.bean.**
-keep class com.qtt.jinrong.bean.** { *;}

-dontwarn com.qtt.jinrong.service.**
-keep class com.qtt.jinrong.service.** { *;}

-dontwarn com.qtt.jinrong.ui.widget.**
-keep class com.qtt.jinrong.ui.widget.** { *;}

-dontwarn javax.annotation.**
-keep class javax.annotation.** {*;}

-dontwarn java.nio.file.**
-keep class java.nio.file.** {*;}

-dontwarn sun.misc.Unsafe
-keep class sun.misc.Unsafe** {*;}
##-----------------------本地不能被混淆的包 end----------------



##-----------  jar包不被混淆  ----------
-libraryjars ../framework/libs/umeng-analytics-v5.2.4.jar
-libraryjars ../framework/libs/volley.jar
-libraryjars ../framework/libs/fastjson-1.1.45.android.jar
-libraryjars ../framework/libs/alipaySDK-20160223.jar

-keep class com.alipay.android.app.IAlixPay{*;}
-keep class com.alipay.android.app.IAlixPay$Stub{*;}
-keep class com.alipay.android.app.IRemoteServiceCallback{*;}
-keep class com.alipay.android.app.IRemoteServiceCallback$Stub{*;}
-keep class com.alipay.sdk.app.PayTask{ public *;}
-keep class com.alipay.sdk.app.AuthTask{ public *;}



